
<div class="jumbotron container-fluid" style="margin-top:40px; margin-left:40px">

    <div class="container-fluid" style="">
        <md-button class="btn1" ui-sref="liga.id.spiele"> SpielTage  </md-button>
        <md-button class="btn1" ui-sref="liga.id.news"> News </md-button>
        <md-button class="btn1" ui-sref="liga.id.clubs"> Clubs </md-button>
        <md-button class="btn1" ui-sref="liga.id.results"> Results </md-button>
        <md-button class="btn1" ui-sref="liga.id.stats"> Statistik </md-button>
    </div>

    <div class="container-fluid" ui-view style="">

    </div>

</div>
